.experienceContainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0px;
    align-items: center;
}
.experienceContainer > h1{
    padding-bottom: 50px;
}
.experienceContainer__info{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     gap: 20px 200px;
}